<div data-controller="welcome">

  <%= render 'UI/navigation' %>

  <%= render 'UI/slider' %>

  <div class='p-4 xl:p-12 xl:mx-auto xl:container'>

    <%= render 'UI/banner' %>
    <h2 class='uppercase font-black text-4xl'>product Overview</h2>

    <%= render 'UI/products'%>

  </div>
  <%= render 'UI/footer'%>
</div>

